.container {
  height: 200vh;
  header {
    span {
      h1:hover {
        color: #fb6a4b;
      }
    }
  }
}

.main {
}

.footer {
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
